@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

nav {
  overflow: hidden;
  background-color: #07000e;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Links inside the navbar */
nav ul {
  list-style: none; /* Remove bullets */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  display: flex; /* Make items sit in a row */
  gap: 20px; /* Optional: spacing between links */
}
nav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s ease;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  z-index: 1000;
}

/* Change background on mouse-over */
main {
  margin-top: 0;
}

nav a:hover {
  background-color: #14083f; /* subtle hover background */
  color: #fff;
  transform: translateX(5px); /* small slide effect on hover */
  font-weight: 500;
  text-shadow: 0px 0px 2px#fff;
}

.background {
  height: 100vh;
  background-image:
    linear-gradient(rgba(5, 10, 40, 0.95), rgba(1, 5, 25, 0.85)),
    url("https://images.pexels.com/photos/2897132/pexels-photo-2897132.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background h1 {
  color: whitesmoke;
  font-family: "Monsieur La Doulaise", cursive;
  font-weight: 500;
  font-size: 10rem;
}

.background p {
  color: rgb(225, 232, 250);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.points {
  padding: 4rem;
  background-color: rgb(255, 255, 255);
}

.card {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  transition: 0.3s ease;
  box-shadow: 1px 4px 8px 0 rgba(206, 188, 188, 0.2);
  transition: 0.3s ease-in-out;
  border-radius: 5px; /* 5px rounded corners */
  width: 100%;
  height: 250px;
  position: static;

  box-shadow: 0 8px 16px 4px rgba(0, 0, 0, 0.2);
}

/* On mouse-over, add a deeper shadow */

/* Add rounded corners to the top left and the top right corner of the image */
.card img {
  border-radius: 5px 5px 0 0;
  width: 55%;
  height: auto;
  object-fit: cover;
}

.container {
  padding: 10px 16px;
  width: 45%;
  flex-direction: column;
  justify-content: center;
}

.projectcards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
}

.projectcards p,
h3 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.description {
  height: 50vh;
  background-color: #14083f;
  color: whitesmoke;
  display: flex;
  padding: 4rem;
  justify-content: center;
  align-items: center;
}

.description img {
  border-radius: 20%;
  width: 38%;
  object-fit: scale-down;
  padding: 4rem;
}

.description h3 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2rem;
  font-weight: 100;
  font-style: italic;
}

footer {
  background-color: #13163d;
  color: white;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  flex-direction: column;
}

button {
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  font-weight: 600;
  margin: 0 10px;
  width: 200px;
  padding: 10px 0;
  box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
  transition: 0.4s;
  background-color: #14083f;
  font-family: sans-serif;
  color: white;
  transition: 0.3s ease-in-out;
}

button:hover {
  box-shadow: 0 0 20px rgba(21, 16, 56, 0.6);
  background-color: rgb(26, 11, 125);
}

h4 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 400;
  font-size: 3.5rem;
  margin-bottom: 1rem;
}

.intro {
  display: flex;
  width: 100%;
  background-color: #0f0b24;
  color: whitesmoke;
  padding: 4rem;
  height: fit-content;
}

.sideimage {
  background-image: url("https://blog.artweb.com/wp-content/uploads/2024/03/woman-drawing-studio-CANVA.png");
  width: 45%;
  object-fit: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.intro h1 {
  font-family: sans-serif;
  font-size: 7rem;
}

.contactform h1,
.signup h1 {
  padding-top: 3rem;
  font-family: sans-serif;
  font-size: 5rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

form input {
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

form textarea {
  width: 60%;
  height: 200px;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.contactform label {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1rem;
}

input:focus {
  background-color: rgb(214, 217, 220);
}

input:valid {
  border-color: #14083f;
}

input:required:invalid {
  border-color: red;
}

.signup {
  height: 100vh;
  padding-top: 4rem;
}
